<app-header></app-header>
<a [@Grow]="stateGrow" routerLink="/create-group/">group</a>
<div class="row">
  <section  [@Grow]="stateGrow" *ngFor="let group of groups" class="col-12">
    <img src="assets/img/group.png" alt="{{group.name}} picture">
    <a [routerLink]="['/message', group.id]">
      <h2>{{ group.name }}</h2>
    </a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </section>
</div>