<div class="headerstamp"></div>
<header class="fixed-top">
    <img src="assets/img/avatar.png" alt="avatar">
    <h1>Hello {{ user.nickname }} !!</h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          action
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/create-group/">Create Group</a>
          <a class="dropdown-item" routerLink="/add-friends">Add friends</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</header>